autoconf
automake
base
binutils
bison
brave
clang
cmatrix
code
corectrl
cups
discord
dosbox
dunst
efibootmgr
exo
fakeroot
feh
file
findutils
firefox
flex
garcon
gawk
gcc
gettext
gimp
git
gnu-free-fonts
google-chrome
gperf
grep
groff
grub
gtk-chtheme
gzip
htop
jre-openjdk-headless
lib32-gst-plugins-base-libs
lib32-gtk3
lib32-libxslt
lib32-mesa
lib32-ocl-icd
lib32-v4l-utils
libappindicator-gtk3
libreoffice-fresh
libtool
libxft-bgra
lightdm
lightdm-gtk-greeter
linux
linux-firmware
linux-headers
llvm
lutris
lxappearance
m4
make
ncurses5-compat-libs
neofetch
networkmanager
npm
ocl-icd
openssh
pacman
pamixer
patch
pavucontrol
picom-tryone-git
pkgconf
pulseaudio
pulseaudio-alsa
python-pip
python-protobuf
python2
qbittorrent
ranger
samba
scrot
sed
skypeforlinux-stable-bin
steam
steam-native-runtime
sudo
sxiv
texinfo
thunar
thunar-volman
transmission-cli
ttf-dejavu
ttf-font-awesome
ttf-inconsolata
ttf-joypixels
ttf-ubuntu-font-family
tumbler
unrar
vim
vlc
which
wine-staging
winetricks
xclip
xf86-video-amdgpu
xf86-video-vesa
xfce4-appfinder
xfce4-panel
xfce4-power-manager
xfce4-pulseaudio-plugin
xfce4-screensaver
xfce4-screenshooter
xfce4-session
xfce4-settings
xfce4-terminal
xfce4-whiskermenu-plugin
xfconf
xfdesktop
xfwm4
xfwm4-themes
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
zathura
zathura-pdf-poppler
zip
zsh
